<div class= 'text-center container'>
<h2 class='text-secondary'>Your booking is</h2>
<h1 class= 'text-success'>CONFIRMED!</h1>

<p class='text-secondary'>Find all details in your dashboard/bookings</p>
<div class='card mt-3'>

  <h2>Model: Canon, <%= @sale_item.model %></h2>
  <p>Daily Rate: <%= @sale_item.daily_rate %>0 €</p>
  <p>Set Up Rate: <%= @sale_item.set_up_rate %>0 €</p>
  <p><strong>Start Time: <%= @sale_item.start_date %></strong></p>
  <p><strong>End Time: <%= @sale_item.end_date %></strong></p>

</div>
