<div class= 'text-center container'>
<h2 class='text-secondary'>Your booking is</h2>
<h1 class= 'text-success'>CONFIRMED!</h1>

<p class='text-secondary'>Find all details in your dashboard/bookings</p>
<div class='card mt-3'>

  <h2>Model: <%= @sale_item.model %></h2>
  <p>Daily Rate: <%= @sale_item.daily_rate %>0 €</p>
  <p>Set Up Rate: <%= @sale_item.set_up_rate %>0 €</p>
  <p><strong>Total cost: <%= @booking.total_price %>0 €</strong></p>
  <p><strong>Start Time: <%= @booking.start_date.strftime("%A, %b %d") %></strong></p>
  <p><strong>End Time: <%= @booking.end_date.strftime("%A, %b %d") %></strong></p>

</div>

<div class="text-center mt-3">
  <%= link_to dashboard_path(@sale_item) do %>
  <button class="btn btn-primary btn-lg" type="button">Click here to see your bookings!</button>
  <% end %>
</div>
