<div class="banner flex-center" style = "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>);">
  <h3 >click</h3>
  <h2 >click</h2>
  <h1 >shoot</h1>
  <p>No camera? We're here to help!</p>
</div>
</div>

<div class="container">
  <div class="row" id="row_search">

    <div class="col-md-8 col-md-offset-3">
      <form action="<%= sale_items_path  %>" class="search-form form-inline">
        <input type="text" class="form-control" name="city" id="searchbar" placeholder="Search for a city">
        <input type="submit" value = "Find your camera"class = "btn btn-primary">
      </form>
    </div>
  <div>
  <button class="btn btn-success" id='rentother_button'><%= link_to "Rent my camera to other people", pages_sell_w_us_path, id: 'buttonsale' %></button>
</div>
  </div>
</div>
<br>
<br>

<h2>Popular recent rentals:</h2>

<div class="row" id="row_cards_home">
  <% @sale_items[0..2].each do |sale_item| %>
    <div class="col-sm-4">
      <%= link_to sale_item_path(sale_item), class: 'card' do %>
        <div id='random_photo' class = 'card-img-top'>
          <%= cl_image_tag sale_item.photo, class: "cardimage" %>
        </div>
        <div class="card-body">
          <h2> <% if sale_item.city.present? %>
            <%= sale_item.city.capitalize %>
              <% end %>
            </h2>
          <h3>Model: <%= sale_item.model %></h3>
          <p>Daily Rate: <%= sale_item.daily_rate %>0 €</p>
          <p>Set-Up Rate: <%= sale_item.set_up_rate %>0 €</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
