<h1> Cameras near you: </h1>
<div class="row" id="row_cards">
  <% @sale_items.reverse.each do |sale_item| %>
    <div class="col-sm-4">
      <%= link_to sale_item_path(sale_item), class: 'card' do %>
        <div id='random_photo' class = 'card-img-top'>
          <%= cl_image_tag sale_item.photo, class: "cardimage", crop: :fill %>
        </div>
        <div class="card-body">
          <h2> <% if sale_item.city.present? %>
            <%= sale_item.city.capitalize %>
              <% end %>
            </h2>
          <h3>Model: <%= sale_item.model %></h3>
          <p>Daily Rate: <%= sale_item.daily_rate %>0 €</p>
          <p>Set-Up Rate: <%= sale_item.set_up_rate %>0 €</p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


