<h1>New Sale Items</h1>

<%= simple_form_for(@sale_item) do |f| %>
  <%= f.input :model %>
  <%= f.input :set_up_rate %>
  <%= f.input :daily_rate %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :city %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <%= f.submit %>
<% end %>

