<h1>New Sale Items</h1>

<%= simple_form_for(@sale_item) do |f| %>
  <%= f.input :model, label: 'Camera model' %>
  <%= f.input :set_up_rate, label: 'Set-up rate in USD (please input without currency sign)' %>
  <%= f.input :daily_rate, label: 'Daily rate in USD (please input without currency sign)' %>
  <%= f.input :start_date, label: 'Date from which camera is available' %>
  <%= f.input :end_date, label: 'Date until which camera is available (this can be edited later)' %>
  <%= f.input :city, collection: ["london","paris","munich"] %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <%= f.submit %>
<% end %>

