<h1>This is the show page</h1>
  <h2>Item: <%= @sale_item.model %></h2>


  <p>Daily Rate: <%= @sale_item.daily_rate %></p>
  <p>Set Up Rate: <%= @sale_item.set_up_rate %></p>
  <p>Start Time: <%= @sale_item.start_date %></p>
  <p>End Time: <%= @sale_item.end_date %></p>
  <p>------------------------------</p>
