<div class= 'text-center container'>
<h1 class='text-secondary mt-3'>Your camera is ready to be picked up!</h1>

<div class='card mt-3'>
  <div class = 'img-fluid'>
<%= cl_image_tag sale_item.photo, class: "cardimage", crop: :fill %>
  </div>
  <h2>Model: Canon, <%= @sale_item.model %></h2>
  <p>Daily Rate: <%= @sale_item.daily_rate %>0 €</p>
  <p>Set Up Rate: <%= @sale_item.set_up_rate %>0 €</p>
</div>
<div class="text-center mt-3">
  <%= link_to new_sale_item_booking_path(@sale_item) do %>
  <button class="btn btn-primary btn-lg" type="button">Confirm and proceed to payment </button>
  <% end %>
</div>
