<style>
  body {
    background-color: white;
  }

<h1><strong>Hello <%= @user.first_name %>,</strong></h1>
<br>
<br>

  .avatar-div {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .avatar-large {
    margin-left: 10px;
  }

  h1 {
    margin-left: 10px;
  }

</style>


<h2 class= "align-items"> Your upcoming bookings: </h2>
<br>


<div class="avatar-div">
<img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />

<h1><strong>hello <%= @user.first_name %>,</strong></h1>
</div>
<br>

<br>
<h2 class="align-items"> My items bookings </h2>
<br>


<style>

  #parent {
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding: 0;
    margin: 0;
  }

  #left {
   display: inline-block;
   float: left;
   text-align: center;
   margin-right: 5.5%;
   margin-left: 15px;
   margin-top: 1.5px;
   padding: 8px;
  }

  #right {
   display: inline-block;
   float: right;
   text-align: center;
   margin-left: 5.5%;
   margin-right: 15px;
   margin-top: 1.5px;
  }
</style>


<div id="parent">

<div class="border border-light shadow p-3 mb-5 bg-white rounded" id="left">
  <h2 style="text-decoration: underline"> Your listings </h2>
  <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">City</th>
      <th scope="col">Lease Dates</th>
      <th scope="col">Contact Tenant</th>
    </tr>
  </thead>
  <tbody>
        <% @user.sale_items.each do |sale_item| %>
              <% sale_item.bookings.each do |booking| %>
               <tr>
                  <td> <%= sale_item.city.capitalize %> </td>
                  <td> <%= booking.start_date %> <%= "---" %> <%= booking.end_date %> </td>
                  <td> <%= link_to("#{@user.first_name}", messages_show_path) %></td>
              </tr>
              <% end %>
            <% end %>
  </tbody>
</table>

</div>

  <div class="border border-light shadow p-3 mb-5 bg-white rounded" id="right">
    <h2 style="text-decoration: underline"> Your Rentals: </h2>
  <br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">PickUp'ed @</th>
      <th scope="col">DropOff @</th>
      <th scope="col">Lease Dates</th>
      <th scope="col">Contact Owner</th>
    </tr>
  </thead>
  <tbody>

<% @user.bookings.each do |booking| %>
            <tr>
            <td> <%= booking.pick_up_location %></td>
            <td> <%= booking.drop_off_location %> </td>
            <td> <%= booking.start_date %> <%= "---" %> <%= booking.end_date %> </td>
            <td> <%=  link_to("#{@user.first_name}", messages_show_path) %> </td>
            </tr>
        <% end %>
  </tbody>
</table>
  </div>
</div>



<ul style="text-decoration: none">
  <% @user.sale_items.each do |sale_item| %>
    <% sale_item.bookings.each do |booking| %>
      <li style="text-decoration: none">
        <%= link_to("Message renter", messages_show_path) + booking.start_date + "---" + booking.end_date %>
      </li>
    <% end %>
  <% end %>
</ul>


